.tag {
  border: 1px grey solid;
  display: inline-block;
  margin: 5px;
  padding: 2px;
  font-size: 15px;
  border-radius: 5px;
}
.productInfo img {
  width: 50%;
}
.productInfo h1 {
  font-size: 20px;
}
.productInfo p {
  color: grey;
}
.productInfo {
  width: 30%;
  height: 100%;
  padding: 30px 10px;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.tags {
  padding: 10px;
  border-top: 1px solid rgb(0 0 0 /0.2);
  border-bottom: 1px solid rgb(0 0 0 / 0.2);
}
